{% liquid
	assign html = block.settings.html
	assign color = block.settings.color
	assign bg_color = block.settings.bg_color
	assign layer_width = block.settings.layer_width
	assign layer_height = block.settings.layer_height
	assign layer_width_mobile = block.settings.layer_width_mobile
	assign layer_height_mobile = block.settings.layer_height_mobile
	assign horizontal_align = block.settings.horizontal_align
	assign vertical_align = block.settings.vertical_align
	assign horizontal_offset = block.settings.horizontal_offset
	assign horizontal_offset_mobile = block.settings.horizontal_offset_mobile
	assign vertical_offset = block.settings.vertical_offset
	assign vertical_offset_mobile = block.settings.vertical_offset_mobile
	assign loop_animation = block.settings.loop_animation
	assign radius = block.settings.radius
	assign z_index = block.settings.z_index

	assign class_block = "gsp-block-layer-html px-0 position-absolute gsp-block-" | append: block.id
	assign class_block = class_block | append: " gsp-block-html-horizontal-" | append: horizontal_align
	assign class_block = class_block | append: " gsp-block-html-vertical-" | append: vertical_align

	if loop_animation != "none"
		assign class_block = class_block | append: " gsp-img-loop-animation-" | append: loop_animation
	endif
	capture animation_attr
		render 'animation-attr', type: block.settings.animation_type
	endcapture
	capture aspect_ratio
		render 'convert-aspect-ratio', aspect_ratio: block.settings.aspect_ratio
	endcapture
	assign aspect_ratio = aspect_ratio | strip_newlines
%}
{% if html != blank %}
	<div class="{{ class_block }}" {{ block.shopify_attributes }}>
		<div class="gsp-layer-html__inner overflow-hidden d-flex align-items-{{ block.settings.content_vertical_align }} justify-content-{{ block.settings.content_align }}" {{- animation_attr -}}>
			{{ html }}
		</div>
	</div>
	{% style %}
		.gsp-block-{{ block.id }} {
		{%- if color != blank and color != "rgba(0,0,0,0)" %}
			--gsp-layer-html-color: {{ color }} !important;
		{% endif -%}
		{%- if bg_color != blank and bg_color != "rgba(0,0,0,0)" %}
			--gsp-layer-html-bg: {{ bg_color }} !important;
		{% endif -%}
		{%- if layer_width != blank and layer_width != -1 %}
			--gsp-layer-html-width: {{ layer_width }}px !important;
		{% endif -%}
		{%- if layer_width_mobile != blank and layer_width_mobile != -1 %}
			--gsp-layer-html-width-mobile: {{ layer_width_mobile }}px !important;
		{% endif -%}
		{%- if layer_height != blank and layer_height != -1 %}
			--gsp-layer-html-height: {{ layer_height }}px !important;
		{% endif -%}
		{%- if layer_height_mobile != blank and layer_height_mobile != -1 %}
			--gsp-layer-html-height-mobile: {{ layer_height_mobile }}px !important;
		{% endif -%}
		{%- if z_index != blank and z_index != -1 %}
			--gsp-layer-html-index: {{ z_index }} !important;
		{% endif -%}
		{%- if horizontal_offset != blank %}
			--gsp-layer-html-horizontal-offset: {{ horizontal_offset }} !important;
		{% endif -%}
		{%- if horizontal_offset_mobile != blank and horizontal_offset_mobile != ""  %}
			--gsp-layer-html-horizontal-offset-mobile: {{ horizontal_offset_mobile }} !important;
		{% endif -%}
		{%- if vertical_offset != blank %}
			--gsp-layer-html-vertical-offset: {{ vertical_offset }} !important;
		{% endif -%}
		{%- if vertical_offset_mobile != blank %}
			--gsp-layer-html-vertical-offset-mobile: {{ vertical_offset_mobile }} !important;
		{% endif -%}
		{%- if radius != blank and radius != 0 %}
			--gsp-layer-html-radius: {{ radius }}% !important;
		{% endif -%}
		}
		}
	{% endstyle %}
{% endif %}