{% comment %}
	Password
	Accepts:
	- block: block object
{% endcomment %}
{% liquid
	capture animation_attr
		render 'animation-attr', type: block.settings.animation_type
	endcapture
	assign spacing_heading = block.settings.spacing_heading
	assign style_form = block.settings.pw_style_form
	assign size_input = block.settings.pw_size_input
	assign content_alignment = block.settings.pw_alignment
	assign max_width = block.settings.pw_max_width
	assign color_input = block.settings.pw_color_input
	assign background_input = block.settings.pw_background_input
	assign color_border = block.settings.pw_color_border
	assign border_focus = block.settings.pw_color_border_focus
	assign color_placeholder = block.settings.pw_color_placeholder
	assign form_id = 'password-' | append: block.id
%}
<div
	class="gsp-block__{{ block.id }} gsp-block gsp-block-has-title gsp-block-password" {{- animation_attr -}} {{ block.shopify_attributes }}>
	<div class="gsp-block__inner">
		{% render 'el__heading', args: block %}
		<div
			class="gsp-element gsp-password gsp-password-{{ block.id }} gsp-password-style-{{ style_form }} text-{{ content_alignment }}">
			{% form 'storefront_password', class: "gsp-password-form d-inline-block w-100", id: form_id %}
				<div class="gsp-password-field {%- if style_form == "01" %} input-group {% endif %} position-relative">
					<input autocomplete="true" type="password" name="password" class="form-control {% if size_input != "default" %} form-control-{{ size_input }} {% endif %}" id="inputPassword2" placeholder="{{ 'password.placeholder' | t }}">
					{%- if style_form == "01" %}
						<button type="submit"
								class="gsp-password-submit btn btn-dark btn-hover-bg-primary btn-hover-border-primary z-index-5 {% if size_input != "default" %} btn-{{ size_input }} {% endif %}">
							{{ 'password.button_label' | t }}
						</button>
					{% endif -%}
					{%- if style_form == "02" %}
						<button type="submit"
								class="gsp-password-submit btn btn-link ms-0 position-absolute end-0 top-0 fs-24px h-100 ps-2 pe-3 z-index-5 lh-1 {% if size_input != "default" %} btn-{{ size_input }} {% endif %}">
							{% render 'icons', icon: 'arrow-right-long' %}
						</button>
					{% endif -%}
				</div>
				{% render 'form__error', form: form, extended_css: "p-2 mt-3 mb-0" %}
			{% endform %}
		</div>
	</div>
</div>
{% style %}
	.gsp-block__{{ block.id }} {
	{%- if spacing_heading != blank and spacing_heading != -1 %}
		--gsp-block-password-sp-heading: {{ spacing_heading }}px !important;
	{% endif -%}
	}
	.gsp-password-{{ block.id }}{
	{%- if color_input != blank and color_input != "rgba(0,0,0,0)" %}
		--gsp-form-field-color: {{ color_input }} !important;
	{% endif -%}
	{%- if background_input != blank and background_input != "rgba(0,0,0,0)" %}
		--gsp-form-field-bg: {{ background_input }} !important;
	{% endif -%}
	{%- if color_border != blank and color_border != "rgba(0,0,0,0)" %}
		--gsp-form-field-border-color: {{ color_border }} !important;
	{% endif -%}
	{%- if color_placeholder != blank and color_placeholder != "rgba(0,0,0,0)" %}
		--gsp-form-field-placeholder: {{ color_placeholder }} !important;
	{% endif -%}
	{%- if border_focus != blank and border_focus != "rgba(0,0,0,0)" %}
		--gsp-form-field-focus-border-color: {{ border_focus }} !important;
	{% endif -%}
	}
	{%- if max_width != blank and max_width != -1 %}
		.gsp-password-{{ block.id }} .gsp-password-form{
		max-width: {{ max_width }}px !important;
		}
	{% endif -%}
{% endstyle %}