{% comment %}
	Image block
	Accepts:
	- block: block object
{% endcomment %}
{% liquid
	if aspect_ratio == blank
		capture aspect_ratio
			render 'convert-aspect-ratio', aspect_ratio: block.settings.aspect_ratio
		endcapture
		assign aspect_ratio = aspect_ratio | strip_newlines
	endif
	if image_size == blank
		assign image_size = block.settings.image_size | default: 'full'
	endif
	capture animation_attr
		render 'animation-attr', type: block.settings.animation_type
	endcapture
%}
<div class="gsp-block__{{ block.id }} gsp-block gsp-block-image" {{- animation_attr -}} {{ block.shopify_attributes }}>
	<div class="gsp-block__inner">
		<div
			class="gsp-block-image__img-wrap h-100 d-flex align-items-{{ block.settings.vertical_align }} justify-content-{{ block.settings.content_alignment }} {%- if block.settings.hover_style != 'none' %} img-hover-{{ block.settings.hover_style }}{% endif %} {%- if block.settings.hover_effect != 'none' and block.settings.hover_effect != nil %} img-effect img-effect-{{ block.settings.hover_effect }}{% endif %}">
			{% render 'responsive-image', image: block.settings.image, aspect_ratio: aspect_ratio, image_size: image_size, placeholder: 'image' %}
		</div>
	</div>
</div>
{% style %}
	.gsp-block__{{ block.id }} {
	{%- if block.settings.img_max_width != blank and block.settings.img_max_width != 0 %}
		--gsp-block-image__max-width: {{ block.settings.img_max_width }}px;
	{% endif -%}
	}
{% endstyle %}