{% paginate customer.orders by 10 %}
	{% if customer.orders.size != 0 %}
		<table class="table table-hover align-middle table-nowrap mb-0 table-borderless text-heading gsp-order-table">
			<thead class="table-light">
			<tr>
				<th class="px-lg-2 py-3" scope="col">{{ 'customer.orders.order_number' | t }}</th>
				<th class="px-lg-2 py-3" scope="col">{{ 'customer.orders.date' | t }}</th>
				<th class="px-lg-2 py-3" scope="col">{{ 'customer.orders.payment_status' | t }}</th>
				<th class="px-lg-2 py-3" scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
				<th class="px-lg-2 py-3" scope="col">{{ 'customer.orders.total' | t }}</th>
			</tr>
			</thead>
			<tbody>
			{% for order in customer.orders %}
				<tr>
					<th class="px-lg-2 py-3" scope="row" data-label="{{ 'customer.orders.order_number' | t }}">
						<a href="{{ order.customer_url }}" class="btn btn-primary btn-sm">
							{{ order.name }}
						</a>
					</th>
					<td class="px-lg-2 py-3" data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'basic' }}</td>
					<td class="px-lg-2 py-3" data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
					<td class="px-lg-2 py-3" data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
					<td class="px-lg-2 py-3" data-label="{{ 'customer.orders.total' | t }}"> {% render 'format-currency', price: order.total_price %}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-info px-3 py-2" role="alert">
			<a href="{{ routes.collections_url }}">{{ 'customer.orders.make_your_first_order' | t }}</a>
			<span>{{ 'customer.orders.none' | t }}</span>
		</div>
	{% endif %}
	{% if paginate.pages > 1 %}
		{% render 'el__pagination', paginate: paginate, type: 'paginate_shopify' , customClass: 'mt-3' %}
	{% endif %}
{% endpaginate %}