{% liquid
	assign heading_fs = block.settings.fs_heading_menu

	assign current_collection = collections[block.settings.collection]
	assign skin_product = block.settings.pc_skin
	assign col_xl = block.settings.item_show_xl
	assign col_lg = block.settings.item_show_lg
	assign col_md = block.settings.item_show_md
	assign col_sm = block.settings.item_show_sm
	assign col = block.settings.item_show_xs
	assign class_id = '.gsp-megamenu-block-' | append: block.id

	if skin_product == nil or skin_product == 'default' or skin_product == 'inherit'
		assign skin_product = settings.pc_skin
	endif
	assign layout = skin_product | remove_first: 'skin-' | split: '-'
	assign layout = layout[0]
	if layout == 'list'
		assign is_list = true
	endif

	assign hover_style = nil
	if block.settings.pc_hover_style != 'default'
		assign hover_style = block.settings.pc_hover_style
	endif

	assign extended_css_item = 'gsp-listing-item'
	if block.settings.extended_css_item != nil and block.settings.extended_css_item != ''
		assign extended_css_item = extended_css_item | append: " " | append: block.settings.extended_css_item
	endif
%}
{%- capture extended_css -%}
	{% render 'product-card__style',
		class_id: class_id,
		render_string: true,
		title_color: block.settings.pc_title_color,
		title_mt: block.settings.pc_title_mt,
		desc_color: block.settings.pc_desc_color,
		desc_mt: block.settings.pc_desc_mt,
		price_mt: block.settings.pc_price_mt,
		img_spacing: block.settings.pc_image_spacing,
		rating_mt: block.settings.pc_rating_mt,
		swatch_mt: block.settings.pc_swatch_mt,
		title_fs: block.settings.pc_title_fs,
		price_fs: block.settings.pc_price_fs
	%}
{%- endcapture -%}
{%- capture product_empity -%}
	{% for i in (1..block.settings.product_per_page) %}
		{% liquid
			capture current
				cycle 1, 2, 3, 4, 5, 6
			endcapture
			assign placeholder = 'product-' | append: current
		%}
		{% render 'product-skins__item',
			skin: skin_product,
			hover_style: hover_style,
			aspect_ratio: block.settings.pc_aspect_ratio,
			image_size: block.settings.pc_image_size,
			show_description: block.settings.pc_show_description,
			show_rating: block.settings.pc_show_rating,
			animation_type: animation_type,
			placeholder: placeholder
		%}
	{% endfor %}
{%- endcapture -%}
<div class="gsp-megamenu-block-{{ block.id }} gsp-megamenu-block gsp-megamenu-block__product col-{{ block.settings.block_width }} {{ block.settings.custom_css }}" {{ block.shopify_attributes }}>
	{% if block.settings.heading != blank %}
		<h3 class="gsp-megamenu-block__heading mb-3">{{ block.settings.heading | escape_once }}</h3>
	{% endif %}
	<div class="gsp-megamenu-block__content">
		<div class="gsp-listing gsp-product-listing gsp-listing-layout-{{ layout }} gsp-product-listing-layout-{{ layout }}"
		>
			<div class="gsp-listing-wrapper" data-gsp-listing-render>
				<div {% render 'slider-attr',
					is_list: is_list,
					classes: 'gsp-slider slick-slider gsp-gutter-wrap gsp-listing-inner w-100',
					item_to_show: col_xl,
					arrows: block.settings.slider_show_navigation,
					dots: block.settings.slider_show_pagination,
					auto_height: block.settings.slider_auto_height,
					autoplay: block.settings.slider_autoplay,
					autoplay_speed: block.settings.slider_autoplay_timeout,
					fade: block.settings.slider_fade,
					loop: block.settings.slider_loop,
					center_mode: block.settings.slider_center_mode,
					center_padding: block.settings.slider_center_padding,
					lg_settings: true,
					item_to_show_on_lg: col_lg,
					item_to_scroll_on_lg: col_lg,
					md_settings: true,
					item_to_show_on_md: col_md,
					item_to_scroll_on_md: col_md,
					sm_settings: true,
					item_to_show_on_sm: col_sm,
					item_to_scroll_on_sm: col_sm,
					xs_settings: true,
					item_to_show_on_xs: col,
					item_to_scroll_on_xs: col
				%}
				>
					{% if current_collection != blank %}
						{%- for product in current_collection.products limit: block.settings.product_per_page  -%}
							{% render 'product-skins__item',
								product: product,
								skin: skin_product,
								hover_style: hover_style,
								aspect_ratio: block.settings.pc_aspect_ratio,
								image_size: block.settings.pc_image_size,
								show_rating: block.settings.pc_show_rating,
								animation_type: animation_type
							%}
						{%- endfor -%}
					{% else %}
						{{ product_empity }}
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
	{% style %}
		{{ extended_css }}
		{%- if heading_fs != blank and heading_fs != -1 %}
			.gsp-megamenu-block-{{ block.id }}{
			--gsp-megamenu-fs-heading: {{ heading_fs }}px;
			}
		{% endif -%}
	{% endstyle %}
</div>