{% liquid
	assign collection = block.settings.collection
	assign limit = block.settings.limit | default: 5
	assign heading = block.settings.heading
%}
{% if collection != blank %}
	{% liquid
		if heading == blank or heading == ''
			assign heading = collection.title
		endif
	%}
	<div
		class="gsp-megamenu-block gsp-megamenu-block__collection col-{{ block.settings.block_width }} {{ block.settings.custom_css }}" {{ block.shopify_attributes }}>
		<h6 class="gsp-megamenu-block__heading fs-18px text-capitalize">
			<a class="font-semibold text-dark text-decoration-none"
			   href="{{ collection.url | default: "#" }}">
				{{ heading }}
			</a>
		</h6>
		<div class="gsp-megamenu-block__content">
			<ul class="list-unstyled px-0 mb-0 fw-500 text-capitalize">
				{% for product in collection.products limit: limit %}
					<li class="gsp-megamenu-item px-0 py-1">
						<a href="{{ product.url }}"
						   class="gsp-mega-menu-link text-decoration-none py-0 d-block">
							{{ product.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}