{% comment %}
	- container: container header
{% endcomment %}
{% for block in section.blocks %}
	{% if block.type == "top-bar" %}
		{% liquid
			assign show_phone_number = block.settings.show_phone_number
			assign show_email = block.settings.show_email
			assign show_social_links = block.settings.show_social_links
			assign show_language_switcher = block.settings.show_language_switcher
			assign include_socials = block.settings.include_socials
			assign show_currency_switcher = block.settings.show_currency_switcher
			assign show_country_selector = block.settings.show_country_selector
			assign show_divider = block.settings.show_divider
			assign show_account_icon = block.settings.show_account_icon
			assign show_cart_icon = block.settings.show_cart_icon
			assign show_wishlist_icon = block.settings.show_wishlist_icon
			assign message = block.settings.alert_message
		%}
		<div
			class="gsp-top-bar gsp-block__{{ block.id }} d-xl-block d-none py-2 {%- if show_divider %} border-bottom {% endif %} {{ block.settings.custom_css }}" {{ block.shopify_attributes }}>
			<div class="{{ container }}">
				<div class="row align-items-center">
					<div class="col">
						<div class="gsp-header-addons d-flex align-items-center justify-content-start">
							{%- if show_phone_number -%}
								{% render 'header-addons__phone' %}
							{%- endif -%}
							{%- if show_email -%}
								{% render 'header-addons__mail' %}
							{%- endif -%}
							{%- if show_social_links -%}
								{% render 'header-addons__social', include_socials: include_socials, show_label: block.settings.show_social_links_label %}
							{%- endif -%}
						</div>
					</div>
					{% if message != blank and message != '' %}
						<div class="col">
							<div class="text-center text-nowrap">{{ message }}</div>
						</div>
					{% endif %}
					<div class="col">
						{% render 'header-addons',
							search: false,
							account: show_account_icon,
							wishlist: show_wishlist_icon,
							cart: show_cart_icon,
							currency: show_currency_switcher,
							language: show_language_switcher,
							country: show_country_selector,
							classes_dropdown: "dropdown-menu-end",
							classes_btn_dropdown: "fs-15px fw-heading lh-1 text-uppercase gsp-top-bar-color",
							classes: "gsp-header-addons d-flex align-items-center justify-content-end"
						%}
					</div>
				</div>
			</div>
		</div>
		{% style %}
			.gsp-block__{{ block.id }} {
			--gsp-top-bar-bg: {{ block.settings.color_topbar_bg | default: '#222' }};
			--gsp-top-bar-color: {{ block.settings.color_topbar_text | default: '#fff' }};
			--gsp-top-bar-color-hover: {{ block.settings.color_topbar_text_hover | default: '#000' }};
			}
		{% endstyle %}

		{% break %}
	{% endif %}
{% endfor %}