{% comment %}
	Render addons currency switcher in header
	Arguments:
	- classes_btn: extra class css btn
	- classes_dropdown: extra class css for dropdown menu
{% endcomment %}
{%- liquid
	unless form_id
		assign form_id = 'currency-form'
	endunless
-%}
{% if shop.enabled_currencies.size > 1 %}
	<div class="gsp-header-addons-item gsp-header-addons-item__currency dropdown">
		{% liquid
			assign min = 65
			assign max = 80
			assign diff = max | minus: min
			assign random_number = "now" | date: "%N" | modulo: diff | plus: min
			assign form_id = form_id | append: random_number
		%}
		{%- capture form_id -%}localization_form{{ product.id }}__{{ "now" | date: "%L" }}{%- endcapture -%}
		<gsp-dropdown data-submit="true" data-form-id="{{ form_id }}">
			{% form 'localization', data-localization-form: '', id: form_id %}
				<select name="currency_code" class="d-none dropdown-select" data-localization-select>
					{% for currency in form.available_currencies %}
						<option value="{{ currency.iso_code }}"
								{% if form.current_currency.iso_code == currency.iso_code %}selected="selected"{% endif %}
						>
							{{ currency.iso_code }}
						</option>
					{% endfor %}
				</select>
				<button class="gsp-header-addons-dropdown btn btn-link dropdown-toggle {{ classes_btn }}"
						type="button" data-bs-toggle="dropdown"
						aria-expanded="false">{{ form.current_currency.iso_code }}
					<span class="arrown-dropdown ms-2 lh-1">{% render 'icons', icon: 'angle-down-sharp-regular' %}</span>
				</button>
				<div class="dropdown-menu py-0 {{ classes_dropdown }}">
					{% for currency in form.available_currencies %}
						<a class="dropdown-item text-heading text-uppercase fw-heading py-2 {% if form.current_currency.iso_code == currency.iso_code %}active{% endif %}"
						   href="#"
						   data-value="{{ currency.iso_code }}">{{ currency.iso_code }}</a>
					{% endfor %}
				</div>
			{% endform %}
		</gsp-dropdown>
	</div>
{% endif %}