<!doctype html>
<html class="no-js supports-no-cookies p-0" lang="{{ request.locale.iso_code }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="black">

	<link rel="canonical" href="{{ canonical_url }}">
	<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

	<title>
		{{ page_title | escape }}
		{{ 'password.meta_title' | t }}
		{%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}

	</title>
	{% if page_description %}
		<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{%- if settings.favicon != blank -%}
		<link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
	{% else %}
		<link rel="shortcut icon" type="image/png" href="{{ "favicon.ico" | asset_url }}">
	{%- endif -%}

	{% render 'css-vendors' %}
	{{ 'theme.css' | asset_url | stylesheet_tag }}
	{% render 'stylesheet' %}
	<style>
		.gsp-main-password__wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			flex-wrap: nowrap;
			text-align: center;
			height: 100vh;
			padding: 16px;
		}
	</style>
	<!-- header hook for Shopify plugins -->
	{{ content_for_header }}


	<script>
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
		if (Shopify.designMode) {
			document.documentElement.classList.add('shopify-design-mode');
		}
	</script>
</head>

<body class="template-{{ template.name }}">
{%- render 'skip-link' -%}
<div class="wrap overflow-hidden">
	<main id="main" role="main">
		<!-- content hook for Shopify -->
		{{ content_for_layout }}
	</main>
	{% if settings.page_loading != 'none' %}
		{% render 'loading__page' %}
	{% endif %}
</div>
{% render 'js-vendors' %}
{% render 'script' %}
</body>
</html>
