{% render 'section-start', name: 'main-reset-password', has_header: false %}
<div class="gsp-reset-password-form py-lg-7 py-6 my-lg-0 my-2">
	<div class="container">
		<div class="gsp-reset-password-form__wrapper row">
			<div class="col-md-8 col-xl-6 mx-auto">
				<h3 class="fs-24px">{{ 'customer.reset_password.title' | t }}</h3>
				<p class="mb-4">{{ 'customer.reset_password.subtext' | t }}</p>
				{% form 'reset_customer_password' %}
					{% render 'form__error', form: form %}
					<div class="mb-3">
						<input type="password" name="customer[password]" id="ResetPassword"
							   class="form-control {% if form.errors contains 'password' %}is-invalid{% endif %}"
							   placeholder="{{ 'customer.reset_password.password' | t }}">
					</div>
					<div class="mb-3">
						<input type="password" name="customer[password_confirmation]" id="PasswordConfirmation"
							   class="form-control {% if form.errors contains 'password_confirmation' %}is-invalid{% endif %}"
							   placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

					</div>
					<button type="submit" class="btn btn-primary">
						{{ 'customer.reset_password.submit' | t }}
					</button>
				{% endform %}
			</div>
		</div>
	</div>
</div>
{% render 'section-end', has_header: false %}
{% schema %}
{
    "name": "t:sections.main_customer_reset_password.name",
    "settings": [
        {
            "type": "header",
            "content": "t:general.sections.spacing.header__section_spacing"
        },
        {
            "type": "paragraph",
            "content": "t:general.sections.spacing.paragraph__5"
        },
        {
            "type": "number",
            "id": "padding_top",
            "label": "t:general.sections.spacing.padding_top.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_bottom",
            "label": "t:general.sections.spacing.padding_bottom.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_top_mobile",
            "label": "t:general.sections.spacing.padding_top_mobile.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_bottom_mobile",
            "label": "t:general.sections.spacing.padding_bottom_mobile.label",
            "default": -1
        },
        {
            "type": "header",
            "content": "t:general.sections.animations_header_label"
        },
        {
            "type": "select",
            "id": "animation_type",
            "label": "t:general.animation_type.label",
            "default": "inherit",
            "options": [
                {
                    "value": "inherit",
                    "label": "t:general.animation_type.options__inherit"
                },
                {
                    "value": "none",
                    "label": "t:general.animation_type.options__none"
                },
                {
                    "value": "fadeIn",
                    "label": "t:general.animation_type.options__fadeIn"
                },
                {
                    "value": "fadeInUp",
                    "label": "t:general.animation_type.options__fadeInUp"
                },
                {
                    "value": "fadeInDown",
                    "label": "t:general.animation_type.options__fadeInDown"
                },
                {
                    "value": "fadeInLeft",
                    "label": "t:general.animation_type.options__fadeInLeft"
                },
                {
                    "value": "fadeInRight",
                    "label": "t:general.animation_type.options__fadeInRight"
                },
                {
                    "value": "flipInX",
                    "label": "t:general.animation_type.options__flipInX"
                },
                {
                    "value": "flip",
                    "label": "t:general.animation_type.options__flip"
                },
                {
                    "value": "zoomOut",
                    "label": "t:general.animation_type.options__zoomOut"
                },
                {
                    "value": "zoomIn",
                    "label": "t:general.animation_type.options__zoomIn"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:general.sections.custom_attrs.header__section_attributes"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "t:general.sections.custom_attrs.custom_class.label"
        }
    ],
    "enabled_on": {
        "templates": [
            "customers/reset_password"
        ]
    }
}
{% endschema %}
