{% render 'section-start', name: 'mapbox' %}
{% liquid
	capture animation_attr
		render 'animation-attr', type: section.settings.animation_type
	endcapture
	assign has_marker = false
	assign map_style = section.settings.map_style | default: "standard"
	assign map_zoom = section.settings.map_zoom | default: 11
	assign zoom_by_mouse = section.settings.map_zoom_by_mouse | default: false
	assign map_height = section.settings.map_height
	assign map_height_mobile = section.settings.map_height_mobile
	assign marker_effect = section.settings.map_marker_effect
	assign marker_size = section.settings.map_marker_size
	assign data_marker = "["
	assign data_options = '{"style":"mapbox://styles/mapbox/' | append: map_style | append: '"'
	assign data_options = data_options | append: ',"zoom":' | append: map_zoom
	assign data_options = data_options | append: ',"scrollZoom":' | append: zoom_by_mouse | append: "}"
%}
{% for block in section.blocks %}
	{% case block.type %}
		{%- when 'marker' -%}
			{% liquid
				assign address = block.settings.address | strip_html
				assign image_marker = block.settings.image_marker

				if address != blank and address contains ","
					if has_marker
						assign separation = ','
					endif
					assign data_marker = data_marker | append: separation | append: '{"position":[' | append: address | append: ']'
					if image_marker != blank
						assign image_marker = image_marker | image_url: width: marker_size, height: marker_size
						assign data_marker = data_marker | append: ',"image":"' | append: image_marker | append: '"'
					endif

					comment
						popup marker
					endcomment
					assign data_popup = ""
					assign separation_popup = ''
					assign image_popup = block.settings.image_popup
					assign title_popup = block.settings.title_popup
					assign desc_popup = block.settings.desc_popup
					if title_popup != blank
						assign data_popup = data_popup | append: separation_popup | append: '"title":"' | append: title_popup | append: '"'
						assign separation_popup = ','
					endif
					if desc_popup != blank
						assign data_popup = data_popup | append: separation_popup | append: '"desc":"' | append: desc_popup | append: '"'
						assign separation_popup = ','
					endif
					if image_popup != blank
						assign image_popup = image_popup | image_url
						assign data_popup = data_popup | append: separation_popup | append: '"image":"' | append: image_popup | append: '"'
					endif
					if data_popup != ""
						assign data_marker = data_marker | append: ',"popup":{' | append: data_popup | append: '}'
					endif
					comment
						End popup marker
					endcomment

					assign has_marker = true
					assign data_marker = data_marker | append: "}"
				endif

			%}
	{% endcase %}
{% endfor %}
{% assign data_marker = data_marker | append: "]" %}
<div class="gsp-map-wrap">
	<div id="gsp-mapbox-{{ section.id }}"
		 class="gsp-map gsp-mapbox mapbox-gl {% if marker_effect %} gsp-mapbox-marker-effect {%- endif -%}"
		 data-mapbox-options='{{ data_options }}' data-mapbox-marker='{{ data_marker }}' {{ animation_attr }}>
	</div>
</div>
{% style %}
	.gsp-section-{{ section.id }} .gsp-mapbox{
		{%- if map_height != blank %}
			--gsp-mapbox-height: {{ map_height }}px !important;
		{% endif -%}
		{%- if map_height_mobile != blank %}
			--gsp-mapbox-height-mobile: {{ map_height_mobile }}px !important;
		{% endif -%}
		{%- if marker_size != blank %}
			--gsp-mapbox-size-marker: {{ marker_size }}px !important;
		{% endif -%}
	}
{% endstyle %}
{% render 'section-end' %}
{% schema %}
{
    "name": "t:sections.mapbox.name",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [
        {
            "type": "header",
            "content": "t:general.sections.section_header_label"
        },
        {
            "type": "html",
            "id": "el_heading_title",
            "label": "t:general.element.heading.setting_heading.el_heading_title.label"
        },
        {
            "type": "html",
            "id": "el_heading_sub_title",
            "label": "t:general.element.heading.setting_heading.el_heading_sub_title.label"
        },
        {
            "type": "html",
            "id": "el_heading_desc",
            "label": "t:general.element.heading.setting_heading.el_heading_desc.label"
        },
        {
            "type": "select",
            "id": "el_heading_alignment",
            "label": "t:general.element.heading.setting_heading.el_heading_alignment.label",
            "default": "default",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__default"
                },
                {
                    "value": "start",
                    "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__start"
                },
                {
                    "value": "center",
                    "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__center"
                },
                {
                    "value": "end",
                    "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__end"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "el_heading_image",
            "label": "t:general.element.heading.setting_heading.el_heading_image.label"
        },
        {
            "type": "select",
            "id": "el_heading_title_tag",
            "label": "t:general.element.heading.setting_heading.el_heading_title_tag.label",
            "default": "h2",
            "options": [
                {
                    "label": "h1",
                    "value": "h1"
                },
                {
                    "label": "h2",
                    "value": "h2"
                },
                {
                    "label": "h3",
                    "value": "h3"
                },
                {
                    "label": "h4",
                    "value": "h4"
                },
                {
                    "label": "h5",
                    "value": "h5"
                },
                {
                    "label": "h6",
                    "value": "h6"
                },
                {
                    "label": "p",
                    "value": "p"
                },
                {
                    "label": "span",
                    "value": "span"
                },
                {
                    "label": "div",
                    "value": "div"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:sections.mapbox.settings.header__style_mapbox"
        },
        {
            "type": "select",
            "id": "map_style",
            "label": "t:sections.mapbox.settings.map_style.label",
            "default": "standard",
            "options": [
                {
                    "value": "standard",
                    "label": "t:sections.mapbox.settings.map_style.options__standard"
                },
                {
                    "value": "streets-v10",
                    "label": "t:sections.mapbox.settings.map_style.options__streets_v10"
                },
                {
                    "value": "outdoors-v10",
                    "label": "t:sections.mapbox.settings.map_style.options__outdoors_v10"
                },
                {
                    "value": "light-v9",
                    "label": "t:sections.mapbox.settings.map_style.options__light_v9"
                },
                {
                    "value": "dark-v9",
                    "label": "t:sections.mapbox.settings.map_style.options__dark_v9"
                },
                {
                    "value": "satellite-streets-v10",
                    "label": "t:sections.mapbox.settings.map_style.options__satellite_streets_v10"
                },
                {
                    "value": "navigation-preview-day-v4",
                    "label": "t:sections.mapbox.settings.map_style.options__navigation_preview_day_v4"
                },
                {
                    "value": "navigation-preview-night-v4",
                    "label": "t:sections.mapbox.settings.map_style.options__navigation_preview_night_v4"
                },
                {
                    "value": "navigation-guidance-day-v4",
                    "label": "t:sections.mapbox.settings.map_style.options__navigation_guidance_day_v4"
                },
                {
                    "value": "navigation-guidance-night-v4",
                    "label": "t:sections.mapbox.settings.map_style.options__navigation_guidance_night_v4"
                }
            ]
        },
        {
            "type": "range",
            "id": "map_zoom",
            "label": "t:sections.mapbox.settings.map_zoom.label",
            "min": 1,
            "max": 24,
            "step": 1,
            "default": 11,
            "info": "t:sections.mapbox.settings.map_zoom.info"
        },
        {
            "type": "range",
            "id": "map_height",
            "label": "t:sections.mapbox.settings.map_height.label",
            "min": 200,
            "max": 1000,
            "step": 10,
            "default": 400
        },
        {
            "type": "range",
            "id": "map_height_mobile",
            "label": "t:sections.mapbox.settings.map_height_mobile.label",
            "min": 200,
            "max": 1000,
            "step": 10,
            "default": 400
        },
        {
            "type": "range",
            "id": "map_marker_size",
            "label": "t:sections.mapbox.settings.map_marker_size.label",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 40
        },
        {
            "type": "checkbox",
            "id": "map_marker_effect",
            "label": "t:sections.mapbox.settings.map_marker_effect.label",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "map_zoom_by_mouse",
            "label": "t:sections.mapbox.settings.map_zoom_by_mouse.label",
            "default": false
        },
        {
            "type": "header",
            "content": "t:general.sections.general_label"
        },
        {
            "type": "select",
            "id": "container",
            "label": "t:general.container.label",
            "default": "inherit",
            "options": [
                {
                    "value": "inherit",
                    "label": "t:general.container.options__inherit"
                },
                {
                    "value": "container",
                    "label": "t:general.container.options__container"
                },
                {
                    "value": "container-xl",
                    "label": "t:general.container.options__container_xl"
                },
                {
                    "value": "container-xxl",
                    "label": "t:general.container.options__container_xxl"
                },
                {
                    "value": "container-fluid",
                    "label": "t:general.container.options__container_fluid"
                },
                {
                    "value": "container-fluid-no-pd",
                    "label": "t:general.container.options__container_fluid_no_pd"
                }
            ]
        },
        {
            "type": "select",
            "id": "header_container",
            "label": "t:general.sections.container_header_label",
            "default": "inherit",
            "options": [
                {
                    "value": "inherit",
                    "label": "t:general.container.options__inherit"
                },
                {
                    "value": "container",
                    "label": "t:general.container.options__container"
                },
                {
                    "value": "container-xl",
                    "label": "t:general.container.options__container_xl"
                },
                {
                    "value": "container-xxl",
                    "label": "t:general.container.options__container_xxl"
                },
                {
                    "value": "container-fluid",
                    "label": "t:general.container.options__container_fluid"
                },
                {
                    "value": "container-fluid-no-pd",
                    "label": "t:general.container.options__container_fluid_no_pd"
                }
            ]
        },
        {
            "type": "color",
            "id": "section_bg_color",
            "label": "t:general.settings.background_group.bg_color.label"
        },
        {
            "type": "image_picker",
            "id": "section_bg_image",
            "label": "t:general.settings.background_group.bg_image.label"
        },
        {
            "type": "select",
            "id": "section_bg_position",
            "label": "t:general.settings.background_group.bg_position.label",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.settings.background_group.bg_position.options__default"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__center",
                    "value": "center center",
                    "label": "t:general.settings.background_group.bg_position.options__center_center"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__center",
                    "value": "center left",
                    "label": "t:general.settings.background_group.bg_position.options__center_left"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__center",
                    "value": "center right",
                    "label": "t:general.settings.background_group.bg_position.options__center_right"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__top",
                    "value": "top center",
                    "label": "t:general.settings.background_group.bg_position.options__top_center"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__top",
                    "value": "top left",
                    "label": "t:general.settings.background_group.bg_position.options__top_left"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__top",
                    "value": "top right",
                    "label": "t:general.settings.background_group.bg_position.options__top_right"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__bottom",
                    "value": "bottom center",
                    "label": "t:general.settings.background_group.bg_position.options__bottom_center"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__bottom",
                    "value": "bottom right",
                    "label": "t:general.settings.background_group.bg_position.options__bottom_right"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__bottom",
                    "value": "bottom left",
                    "label": "t:general.settings.background_group.bg_position.options__bottom_left"
                }
            ],
            "default": "default"
        },
        {
            "type": "select",
            "id": "section_bg_size",
            "label": "t:general.settings.background_group.bg_size.label",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.settings.background_group.bg_size.options__default"
                },
                {
                    "value": "auto",
                    "label": "t:general.settings.background_group.bg_size.options__auto"
                },
                {
                    "value": "cover",
                    "label": "t:general.settings.background_group.bg_size.options__cover"
                },
                {
                    "value": "contain",
                    "label": "t:general.settings.background_group.bg_size.options__contain"
                }
            ],
            "default": "default"
        },
        {
            "type": "header",
            "content": "t:general.sections.header_layout.header__header_inline"
        },
        {
            "type": "checkbox",
            "id": "header_inline",
            "label": "t:general.sections.header_layout.header_inline.label"
        },
        {
            "type": "select",
            "id": "header_inline_align",
            "label": "t:general.sections.header_layout.header_inline_align.label",
            "default": "top",
            "options": [
                {
                    "value": "top",
                    "label": "t:general.sections.header_layout.header_inline_align.options__top"
                },
                {
                    "value": "center",
                    "label": "t:general.sections.header_layout.header_inline_align.options__center"
                },
                {
                    "value": "end",
                    "label": "t:general.sections.header_layout.header_inline_align.options__end"
                },
                {
                    "value": "top-end",
                    "label": "t:general.sections.header_layout.header_inline_align.options__top_end"
                }
            ]
        },
        {
            "type": "range",
            "id": "header_width",
            "label": "t:general.sections.header_layout.header_width.label",
            "min": -1,
            "max": 99,
            "step": 1,
            "default": -1,
            "info": "t:general.sections.header_layout.header_width.info"
        },
        {
            "type": "header",
            "content": "t:general.sections.header_style.header__header_color"
        },
        {
            "type": "color",
            "id": "el_heading_title_color",
            "label": "t:general.element.heading.style_heading.el_heading_title_color.label"
        },
        {
            "type": "color",
            "id": "el_heading_sub_title_color",
            "label": "t:general.element.heading.style_heading.el_heading_sub_title_color.label"
        },
        {
            "type": "color",
            "id": "el_heading_desc_color",
            "label": "t:general.element.heading.style_heading.el_heading_desc_color.label"
        },
        {
            "type": "header",
            "content": "t:general.sections.header_style.header__header_size"
        },
        {
            "type": "paragraph",
            "content": "t:general.element.heading.style_heading.paragraph__5"
        },
        {
            "type": "number",
            "id": "el_heading_fs_title",
            "label": "t:general.element.heading.style_heading.el_heading_fs_title.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "el_heading_fs_sub_title",
            "label": "t:general.element.heading.style_heading.el_heading_fs_sub_title.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "el_heading_fs_desc",
            "label": "t:general.element.heading.style_heading.el_heading_fs_desc.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "el_heading_mw",
            "label": "t:general.element.heading.style_heading.el_heading_mw.label",
            "default": -1
        },
        {
            "type": "header",
            "content": "t:general.sections.header_style.header__header_spacing"
        },
        {
            "type": "paragraph",
            "content": "t:general.element.heading.style_heading.paragraph__10"
        },
        {
            "type": "number",
            "id": "el_heading_sp_sub_title",
            "label": "t:general.element.heading.style_heading.el_heading_sp_sub_title.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "el_heading_sp_sub_image",
            "label": "t:general.element.heading.style_heading.el_heading_sp_sub_image.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "el_heading_sp_desc",
            "label": "t:general.element.heading.style_heading.el_heading_sp_desc.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "header_margin_bottom",
            "label": "t:general.sections.header_style.header_margin_bottom.label",
            "default": -1
        },
        {
            "type": "header",
            "content": "t:general.sections.spacing.header__section_spacing"
        },
        {
            "type": "paragraph",
            "content": "t:general.sections.spacing.paragraph__5"
        },
        {
            "type": "number",
            "id": "padding_top",
            "label": "t:general.sections.spacing.padding_top.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_bottom",
            "label": "t:general.sections.spacing.padding_bottom.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_top_mobile",
            "label": "t:general.sections.spacing.padding_top_mobile.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_bottom_mobile",
            "label": "t:general.sections.spacing.padding_bottom_mobile.label",
            "default": -1
        },
        {
            "type": "header",
            "content": "t:general.sections.animations_header_label"
        },
        {
            "type": "select",
            "id": "animation_type",
            "label": "t:general.animation_type.label",
            "default": "inherit",
            "options": [
                {
                    "value": "inherit",
                    "label": "t:general.animation_type.options__inherit"
                },
                {
                    "value": "none",
                    "label": "t:general.animation_type.options__none"
                },
                {
                    "value": "fadeIn",
                    "label": "t:general.animation_type.options__fadeIn"
                },
                {
                    "value": "fadeInUp",
                    "label": "t:general.animation_type.options__fadeInUp"
                },
                {
                    "value": "fadeInDown",
                    "label": "t:general.animation_type.options__fadeInDown"
                },
                {
                    "value": "fadeInLeft",
                    "label": "t:general.animation_type.options__fadeInLeft"
                },
                {
                    "value": "fadeInRight",
                    "label": "t:general.animation_type.options__fadeInRight"
                },
                {
                    "value": "flipInX",
                    "label": "t:general.animation_type.options__flipInX"
                },
                {
                    "value": "flip",
                    "label": "t:general.animation_type.options__flip"
                },
                {
                    "value": "zoomOut",
                    "label": "t:general.animation_type.options__zoomOut"
                },
                {
                    "value": "zoomIn",
                    "label": "t:general.animation_type.options__zoomIn"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:general.sections.custom_attrs.header__section_attributes"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "t:general.sections.custom_attrs.custom_class.label"
        }
    ],
    "blocks": [
        {
            "type": "marker",
            "name": "t:sections.mapbox.block.marker.name",
            "settings": [
                {
                    "type": "text",
                    "id": "address",
                    "label": "t:sections.mapbox.block.marker.settings.address.label",
                    "default": "-118.2744256, 34.0442113",
                    "info": "t:sections.mapbox.block.marker.settings.address.info"
                },
                {
                    "type": "image_picker",
                    "id": "image_marker",
                    "label": "t:sections.mapbox.block.marker.settings.image_marker.label"
                },
                {
                    "type": "header",
                    "content": "t:sections.mapbox.block.marker.settings.header__popup"
                },
                {
                    "type": "text",
                    "id": "title_popup",
                    "label": "t:sections.mapbox.block.marker.settings.title_popup.label",
                    "default": "This Is Title"
                },
                {
                    "type": "textarea",
                    "id": "desc_popup",
                    "label": "t:sections.mapbox.block.marker.settings.desc_popup.label",
                    "default": "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                },
                {
                    "type": "image_picker",
                    "id": "image_popup",
                    "label": "t:sections.mapbox.block.marker.settings.image_popup.label"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.mapbox.name",
            "blocks": [
                {
                    "type": "marker"
                }
            ]
        }
    ]
}
{% endschema %}