{% liquid
	assign current_collection = collections[section.settings.collection]
	assign skin_product = section.settings.pc_skin
	assign col_xl = section.settings.item_show_xl
	assign col_lg = section.settings.item_show_lg
	assign col_md = section.settings.item_show_md
	assign col_sm = section.settings.item_show_sm
	assign col = section.settings.item_show_xs
	assign product_limit = section.settings.product_per_page
	assign enable_slider = section.settings.slider_enable
	assign custom_class_section = 'gsp-section-listing gsp-section-product-tab gsp-section-product-tab-' | append: section.id
	assign class_id = '.gsp-section-' | append: section.id

	assign nav_fs = section.settings.nav_fs
	assign nav_fs_mobile = section.settings.nav_fs_mobile
	assign nav_gutter = section.settings.nav_gutter
	assign nav_gutter_mobile = section.settings.nav_gutter_mobile
	assign nav_spacing = section.settings.nav_spacing
	assign nav_border_active = section.settings.nav_border_active
	assign nav_on_top = section.settings.nav_on_top
	assign nav_color = section.settings.nav_color
	assign nav_color_active = section.settings.nav_color_active

	if skin_product == nil or skin_product == 'default' or skin_product == 'inherit'
		assign skin_product = settings.pc_skin
	endif
	assign layout = skin_product | remove_first: 'skin-' | split: '-'
	assign layout = layout[0]
	if layout == 'list'
		assign is_list = true
	endif

	assign hover_style = nil
	if section.settings.pc_hover_style != 'default'
		assign hover_style = section.settings.pc_hover_style
	endif

	assign extended_css_item = 'gsp-listing-item'
	if section.settings.extended_css_item != nil and section.settings.extended_css_item != ''
		assign extended_css_item = extended_css_item | append: " " | append: section.settings.extended_css_item
	endif

	assign animation_type = section.settings.animation_type
	if animation_type == 'inherit'
		assign animation_type = settings.animation_type
	endif
%}

{%- capture extended_css -%}
	{% render 'product-card__style',
		class_id: class_id,
		render_string: true,
		title_color: section.settings.pc_title_color,
		title_mt: section.settings.pc_title_mt,
		desc_color: section.settings.pc_desc_color,
		desc_mt: section.settings.pc_desc_mt,
		price_mt: section.settings.pc_price_mt,
		img_spacing: section.settings.pc_image_spacing,
		rating_mt: section.settings.pc_rating_mt,
		swatch_mt: section.settings.pc_swatch_mt,
		title_fs: section.settings.pc_title_fs,
		price_fs: section.settings.pc_price_fs
	%}
{%- endcapture -%}
{%- capture product_empity -%}
	{% for i in (1..product_limit) %}
		{% liquid
			capture current
				cycle 1, 2, 3, 4, 5, 6
			endcapture
			assign placeholder = 'product-' | append: current
		%}
		{% if enable_slider != true %}
			<div {% render 'classes-col-bootstrap', additional: extended_css_item, col_xl: col_xl, col_lg: col_lg, col_md: col_md, col_sm: col_sm, col: col %}>
		{% endif -%}
		{% render 'product-skins__item',
			skin: skin_product,
			hover_style: hover_style,
			aspect_ratio: section.settings.pc_aspect_ratio,
			image_size: section.settings.pc_image_size,
			animation_type: animation_type,
			placeholder: placeholder
		%}
		{% if enable_slider != true %}
			</div>
		{% endif -%}
	{% endfor %}
{%- endcapture -%}
{%- capture nav_tabs -%}
	{% liquid
		capture animation_attr
			render 'animation-attr', type: animation_type
		endcapture
	%}
	<ul class="nav nav-tabs gsp-nav-tab border-0 {% if nav_border_active %} has-border-active {% endif %}"
		role="tablist" {{ animation_attr }}>
		{% for block in section.blocks %}
			{%- liquid
				assign tab_name = block.settings.custom_title
				assign current_collection = block.settings.collection
				if forloop.first
					assign is_first = 'true'
				else
					assign is_first = 'false'
				endif
				if tab_name == blank
					assign tab_name = 'Tab ' | append: forloop.index
					if current_collection != blank
						assign tab_name = current_collection.title
					endif
				endif
			-%}

			<li class="nav-item" role="presentation">
				<button
				   class="nav-link text-hover-underline p-0 border-0 bg-transparent fw-heading {% if forloop.first %} active {% endif %}"
				   data-bs-toggle="tab" type="button" role="tab"
				   data-bs-target="#product-tab-{{ block.id }}"
				   aria-controls="product-tab-{{ block.id }}"
				   aria-selected="{{ is_first }}">{{ tab_name }}</button>
			</li>
		{% endfor %}
	</ul>
{%- endcapture -%}
{% if section.blocks.size > 0 and nav_on_top %}
	{% assign header_addon = nav_tabs %}
{% else %}
	{% assign header_addon = nil %}
{% endif %}
{% render 'section-start', name: 'product-tab', custom_class: custom_class_section, custom_header_addon: header_addon %}

{% if section.blocks.size > 0 %}
	{% if nav_on_top != true %}
		<div class="gsp-nav-tab-wrap d-flex justify-content-center position-relative z-index-5">
			{{ nav_tabs }}
		</div>
	{% endif %}
	<div class="tab-content gsp-tab-content">
		{% for block in section.blocks %}
			{%- assign current_collection = block.settings.collection -%}
			<div class="tab-pane fade {% if forloop.first %} show active {% endif %}"
				 id="product-tab-{{ block.id }}" role="tabpanel" tabindex="0" {{ block.shopify_attributes }}>
				<div
					class="gsp-listing gsp-product-listing gsp-listing-layout-{{ layout }} gsp-product-listing-layout-{{ layout }} {%- if animation_type != 'none' %}has-animation{% endif -%}"
					data-section-id="{{ section.id }}" data-listing-id="{{ block.id }}"
				>
					{% if enable_slider %}
						<div class="gsp-listing-wrapper" data-gsp-listing-render>
							<div {% render 'slider-attr',
								is_list: is_list,
								classes: 'gsp-slider slick-slider gsp-gutter-wrap gsp-listing-inner',
								item_to_show: col_xl,
								arrows: section.settings.slider_show_navigation,
								dots: section.settings.slider_show_pagination,
								auto_height: section.settings.slider_auto_height,
								autoplay: section.settings.slider_autoplay,
								autoplay_speed: section.settings.slider_autoplay_timeout,
								fade: section.settings.slider_fade,
								loop: section.settings.slider_loop,
								center_mode: section.settings.slider_center_mode,
								center_padding: section.settings.slider_center_padding,
								lg_settings: true,
								item_to_show_on_lg: col_lg,
								item_to_scroll_on_lg: col_lg,
								md_settings: true,
								item_to_show_on_md: col_md,
								item_to_scroll_on_md: col_md,
								sm_settings: true,
								item_to_show_on_sm: col_sm,
								item_to_scroll_on_sm: col_sm,
								xs_settings: true,
								item_to_show_on_xs: col,
								item_to_scroll_on_xs: col
							%}
								{%- if section.settings.slider_navigation_after_heading and section.settings.slider_show_navigation -%}
									data-slick-append-arrows=".gsp-arrows-{{ section.id }}"
								{%- endif -%}
							>
								{% if current_collection != blank %}
									{%- for product in current_collection.products limit: product_limit -%}
										{% render 'product-skins__item',
											product: product,
											skin: skin_product,
											hover_style: hover_style,
											aspect_ratio: section.settings.pc_aspect_ratio,
											image_size: section.settings.pc_image_size,
											show_rating: section.settings.pc_show_rating,
											animation_type: animation_type
										%}
									{%- endfor -%}
								{% else %}
									{{ product_empity }}
								{%- endif -%}
							</div>
						</div>
					{% else %}
						{% if current_collection != blank %}
							{%- paginate current_collection.products by product_limit -%}
								<div class="gsp-listing-wrapper" data-gsp-listing-render>
									<div class="row gsp-gutter-wrap gsp-listing-inner">
										{%- for product in current_collection.products limit: product_limit -%}
											<div {% render 'classes-col-bootstrap', additional: extended_css_item, col_xl: col_xl, col_lg: col_lg, col_md: col_md, col_sm: col_sm, col: col %}>
												{% render 'product-skins__item',
													product: product,
													skin: skin_product,
													hover_style: hover_style,
													aspect_ratio: section.settings.pc_aspect_ratio,
													image_size: section.settings.pc_image_size,
													show_rating: section.settings.pc_show_rating,
													animation_type: animation_type
												%}
											</div>
										{%- endfor -%}
									</div>
								</div>
								{% if paginate.pages > 1 and section.settings.paginate_type != "none" %}
									{% render 'el__pagination', paginate: paginate, type: section.settings.paginate_type, customClass: 'mt-5', listing_id: block.id %}
								{%- endif -%}
							{%- endpaginate -%}
						{% else %}
							<div class="gsp-listing-wrapper" data-gsp-listing-render>
								<div class="row gsp-gutter-wrap gsp-listing-inner">
									{{ product_empity }}
								</div>
							</div>
						{%- endif -%}
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}
{% style %}
	.gsp-section-product-tab-{{ section.id }}{
	{% if nav_fs != blank and nav_fs != 0 %}
		--gsp-nav-fs: {{ nav_fs }}px;
	{% endif %}
	{% if nav_fs_mobile != blank and nav_fs_mobile != 0 %}
		--gsp-nav-fs-mobile: {{ nav_fs_mobile }}px;
	{% endif %}
	{% if nav_gutter != blank and nav_gutter != 0 %}
		--gsp-nav-gap: {{ nav_gutter }}px;
	{% endif %}
	{% if nav_gutter_mobile != blank and nav_gutter_mobile != 0 %}
		--gsp-nav-gap-mobile: {{ nav_gutter_mobile }}px;
	{% endif %}
	{% if nav_color != blank and nav_color != "rgba(0,0,0,0)" %}
		--gsp-nav-color: {{ nav_color }};
	{% endif %}
	{% if nav_color_active != blank and nav_color_active != "rgba(0,0,0,0)" %}
		--gsp-nav-color-active: {{ nav_color_active }};
	{% endif %}
	{% if nav_spacing != blank and nav_spacing != 0 %}
		--gsp-nav-spacing: {{ nav_spacing }}px;
	{% endif %}
	}
{% endstyle %}
{% render 'section-end', has_header: false, extended_css: extended_css %}
{% schema %}
{
    "name": "t:sections.product_tab.name",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [
        {
            "type": "header",
            "content": "t:general.sections.section_header_label"
        },
        {
            "type": "html",
            "id": "el_heading_title",
            "label": "t:general.element.heading.setting_heading.el_heading_title.label",
            "default": "Featured Product"
        },
        {
            "type": "html",
            "id": "el_heading_sub_title",
            "label": "t:general.element.heading.setting_heading.el_heading_sub_title.label"
        },
        {
            "type": "html",
            "id": "el_heading_desc",
            "label": "t:general.element.heading.setting_heading.el_heading_desc.label"
        },
        {
            "type": "select",
            "id": "el_heading_alignment",
            "label": "t:general.element.heading.setting_heading.el_heading_alignment.label",
            "default": "default",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__default"
                },
                {
                    "value": "start",
                    "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__start"
                },
                {
                    "value": "center",
                    "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__center"
                },
                {
                    "value": "end",
                    "label": "t:general.element.heading.setting_heading.el_heading_alignment.options__end"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "el_heading_image",
            "label": "t:general.element.heading.setting_heading.el_heading_image.label"
        },
        {
            "type": "select",
            "id": "el_heading_title_tag",
            "label": "t:general.element.heading.setting_heading.el_heading_title_tag.label",
            "default": "h2",
            "options": [
                {
                    "label": "h1",
                    "value": "h1"
                },
                {
                    "label": "h2",
                    "value": "h2"
                },
                {
                    "label": "h3",
                    "value": "h3"
                },
                {
                    "label": "h4",
                    "value": "h4"
                },
                {
                    "label": "h5",
                    "value": "h5"
                },
                {
                    "label": "h6",
                    "value": "h6"
                },
                {
                    "label": "p",
                    "value": "p"
                },
                {
                    "label": "span",
                    "value": "span"
                },
                {
                    "label": "div",
                    "value": "div"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:sections.product_tab.settings.header__tabs_settings"
        },
        {
            "type": "paragraph",
            "content": "t:sections.product_tab.settings.paragraph__5"
        },
        {
            "type": "range",
            "id": "nav_fs",
            "label": "t:sections.product_tab.settings.nav_fs.label",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "nav_fs_mobile",
            "label": "t:sections.product_tab.settings.nav_fs_mobile.label",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "nav_gutter",
            "label": "t:sections.product_tab.settings.nav_gutter.label",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "nav_gutter_mobile",
            "label": "t:sections.product_tab.settings.nav_gutter_mobile.label",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "nav_spacing",
            "label": "t:sections.product_tab.settings.nav_spacing.label",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 0
        },
        {
            "type": "color",
            "id": "nav_color",
            "label": "t:sections.product_tab.settings.nav_color.label"
        },
        {
            "type": "color",
            "id": "nav_color_active",
            "label": "t:sections.product_tab.settings.nav_color_active.label"
        },
        {
            "type": "checkbox",
            "id": "nav_border_active",
            "label": "t:sections.product_tab.settings.nav_border_active.label",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "nav_on_top",
            "label": "t:sections.product_tab.settings.nav_on_top.label",
            "default": false
        },
        {
            "type": "header",
            "content": "t:sections.product_tab.settings.header__product_settings"
        },
        {
            "type": "select",
            "id": "pc_skin",
            "label": "t:general.sections.product_card_settings.pc_skin.label",
            "default": "default",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.setup.skin_product_cart.options__default"
                },
                {
                    "value": "skin-grid-01",
                    "label": "t:general.setup.skin_product_cart.options__skin_grid_01"
                },
                {
                    "value": "skin-grid-02",
                    "label": "t:general.setup.skin_product_cart.options__skin_grid_02"
                },
                {
                    "value": "skin-grid-03",
                    "label": "t:general.setup.skin_product_cart.options__skin_grid_03"
                },
                {
                    "value": "skin-grid-04",
                    "label": "t:general.setup.skin_product_cart.options__skin_grid_04"
                },
                {
                    "value": "skin-grid-05",
                    "label": "t:general.setup.skin_product_cart.options__skin_grid_05"
                },
                {
                    "value": "skin-grid-06",
                    "label": "t:general.setup.skin_product_cart.options__skin_grid_06"
                },
                {
                    "value": "skin-list-01",
                    "label": "t:general.setup.skin_product_cart.options__skin_list_01"
                }
            ]
        },
        {
            "type": "select",
            "id": "pc_hover_style",
            "label": "t:general.sections.product_card_settings.pc_hover_style.label",
            "default": "default",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.setup.hover_style.options__default"
                },
                {
                    "value": "none",
                    "label": "t:general.setup.hover_style.options__none"
                },
                {
                    "value": "zoom-in",
                    "label": "t:general.setup.hover_style.options__zoom_in"
                },
                {
                    "value": "slide-left",
                    "label": "t:general.setup.hover_style.options__slide_left"
                },
                {
                    "value": "slide-right",
                    "label": "t:general.setup.hover_style.options__slide_right"
                },
                {
                    "value": "slide-up",
                    "label": "t:general.setup.hover_style.options__slide_up"
                },
                {
                    "value": "slide-down",
                    "label": "t:general.setup.hover_style.options__slide_down"
                }
            ]
        },
        {
            "type": "text",
            "id": "pc_aspect_ratio",
            "label": "t:general.settings.image_ratio.label",
            "default": "default",
            "info": "t:general.settings.image_ratio.info"
        },
        {
            "type": "text",
            "id": "pc_image_size",
            "label": "t:general.settings.image_size.label",
            "default": "default",
            "info": "t:general.settings.image_size.info"
        },
        {
            "type": "select",
            "id": "pc_show_rating",
            "label": "t:general.sections.product_card_settings.pc_show_rating.label",
            "default": "default",
            "options": [
                {
                    "label": "t:general.sections.product_card_settings.pc_show_rating.options__default",
                    "value": "default"
                },
                {
                    "label": "t:general.sections.product_card_settings.pc_show_rating.options__off",
                    "value": "off"
                },
                {
                    "label": "t:general.sections.product_card_settings.pc_show_rating.options__on",
                    "value": "on"
                }
            ]
        },
        {
            "type": "range",
            "id": "product_per_page",
            "label": "t:sections.product_tab.settings.product_per_page.label",
            "min": 1,
            "max": 100,
            "step": 1,
            "default": 12
        },
        {
            "type": "range",
            "id": "item_gap",
            "label": "t:general.sections.item_gap.label",
            "min": -1,
            "max": 99,
            "step": 1,
            "default": -1,
            "unit": "px",
            "info": "t:general.sections.item_gap.info"
        },
        {
            "type": "select",
            "id": "paginate_type",
            "label": "t:sections.product_tab.settings.paginate_type.label",
            "default": "pagination",
            "info": "t:sections.product_tab.settings.paginate_type.info",
            "options": [
                {
                    "value": "none",
                    "label": "t:general.setup.options_paging.options__none"
                },
                {
                    "value": "paginate_shopify",
                    "label": "t:general.setup.options_paging.options__paginate_shopify"
                },
                {
                    "value": "pagination",
                    "label": "t:general.setup.options_paging.options__pagination"
                },
                {
                    "value": "nextpre",
                    "label": "t:general.setup.options_paging.options__nextpre"
                },
                {
                    "value": "loadmore",
                    "label": "t:general.setup.options_paging.options__loadmore"
                },
                {
                    "value": "infinite",
                    "label": "t:general.setup.options_paging.options__infinite"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:sections.product_tab.settings.header__column_grid"
        },
        {
            "type": "range",
            "id": "item_show_xl",
            "label": "t:general.settings.item_to_show_group.item_show_xl.label",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "item_show_lg",
            "label": "t:general.settings.item_to_show_group.item_show_lg.label",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "item_show_md",
            "label": "t:general.settings.item_to_show_group.item_show_md.label",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "item_show_sm",
            "label": "t:general.settings.item_to_show_group.item_show_sm.label",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "item_show_xs",
            "label": "t:general.settings.item_to_show_group.item_show_xs.label",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 1
        },
        {
            "type": "header",
            "content": "t:general.sections.slider_group.header__slider_settings"
        },
        {
            "type": "checkbox",
            "id": "slider_enable",
            "label": "t:general.sections.slider_group.slider_enable.label",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "slider_show_pagination",
            "label": "t:general.sections.slider_group.slider_show_pagination.label",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "slider_show_navigation",
            "label": "t:general.sections.slider_group.slider_show_navigation.label",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "slider_auto_height",
            "label": "t:general.sections.slider_group.slider_auto_height.label",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "slider_loop",
            "label": "t:general.sections.slider_group.slider_loop.label",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "slider_fade",
            "label": "t:general.sections.slider_group.slider_fade.label",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "slider_center_mode",
            "label": "t:general.sections.slider_group.slider_center_mode.label",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "slider_autoplay",
            "label": "t:general.sections.slider_group.slider_autoplay.label",
            "default": false
        },
        {
            "type": "text",
            "id": "slider_center_padding",
            "label": "t:general.sections.slider_group.slider_center_padding.label"
        },
        {
            "type": "number",
            "id": "slider_autoplay_timeout",
            "label": "t:general.sections.slider_group.slider_autoplay_timeout.label"
        },
        {
            "type": "header",
            "content": "t:general.sections.product_card_style.header__product_style"
        },
        {
            "type": "paragraph",
            "content": "t:general.sections.product_card_style.paragraph__5"
        },
        {
            "type": "color",
            "id": "pc_title_color",
            "label": "t:general.sections.product_card_style.pc_title_color.label"
        },
        {
            "type": "color",
            "id": "pc_desc_color",
            "label": "t:general.sections.product_card_style.pc_desc_color.label"
        },
        {
            "type": "number",
            "id": "pc_title_fs",
            "label": "t:general.sections.product_card_style.pc_title_fs.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "pc_price_fs",
            "label": "t:general.sections.product_card_style.pc_price_fs.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "pc_image_spacing",
            "label": "t:general.sections.product_card_style.pc_image_spacing.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "pc_price_mt",
            "label": "t:general.sections.product_card_style.pc_price_mt.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "pc_title_mt",
            "label": "t:general.sections.product_card_style.pc_title_mt.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "pc_swatch_mt",
            "label": "t:general.sections.product_card_style.pc_swatch_mt.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "pc_rating_mt",
            "label": "t:general.sections.product_card_style.pc_rating_mt.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "pc_desc_mt",
            "label": "t:general.sections.product_card_style.pc_desc_mt.label",
            "default": -1
        },
        {
            "type": "header",
            "content": "t:general.sections.button_view_all.header__button_view_all"
        },
        {
            "type": "select",
            "id": "btn_view_all_position",
            "label": "t:general.sections.button_view_all.btn_view_all_position.label",
            "default": "hide",
            "options": [
                {
                    "value": "hide",
                    "label": "t:general.sections.button_view_all.btn_view_all_position.options__hide"
                },
                {
                    "value": "bottom",
                    "label": "t:general.sections.button_view_all.btn_view_all_position.options__bottom"
                },
                {
                    "value": "after-heading",
                    "label": "t:general.sections.button_view_all.btn_view_all_position.options__after_heading"
                }
            ]
        },
        {
            "type": "paragraph",
            "content": "t:general.element.button.setting_content_button.paragraph__5"
        },
        {
            "type": "url",
            "id": "view_all_el_button_link",
            "label": "t:general.element.button.setting_content_button.el_button_link.label"
        },
        {
            "type": "text",
            "id": "view_all_el_button_text",
            "label": "t:general.element.button.setting_content_button.el_button_text.label",
            "default": "View all"
        },
        {
            "type": "select",
            "id": "view_all_el_button_icon",
            "label": "t:general.element.button.setting_content_button.el_button_icon.label",
            "default": "none",
            "options": [
                {
                    "value": "none",
                    "label": "t:general.element.button.setting_content_button.el_button_icon.options__none"
                },
                {
                    "value": "arrow-right-long",
                    "label": "t:general.element.button.setting_content_button.el_button_icon.options__arrow_right_long"
                },
                {
                    "value": "arrow-right",
                    "label": "t:general.element.button.setting_content_button.el_button_icon.options__arrow_right"
                },
                {
                    "value": "angle-right",
                    "label": "t:general.element.button.setting_content_button.el_button_icon.options__angle_right"
                },
                {
                    "value": "plus",
                    "label": "t:general.element.button.setting_content_button.el_button_icon.options__plus"
                },
                {
                    "value": "play",
                    "label": "t:general.element.button.setting_content_button.el_button_icon.options__play"
                },
                {
                    "value": "pen",
                    "label": "t:general.element.button.setting_content_button.el_button_icon.options__pen"
                }
            ]
        },
        {
            "type": "select",
            "id": "view_all_el_button_style",
            "label": "t:general.element.button.style_button.el_button_style.label",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.element.button.style_button.el_button_style.options__default"
                },
                {
                    "value": "outline",
                    "label": "t:general.element.button.style_button.el_button_style.options__outline"
                },
                {
                    "value": "link",
                    "label": "t:general.element.button.style_button.el_button_style.options__link"
                }
            ],
            "default": "default"
        },
        {
            "type": "select",
            "id": "view_all_el_button_color",
            "label": "t:general.element.button.style_button.el_button_color.label",
            "options": [
                {
                    "value": "primary",
                    "label": "t:general.element.button.style_button.el_button_color.options__primary"
                },
                {
                    "value": "secondary",
                    "label": "t:general.element.button.style_button.el_button_color.options__secondary"
                },
                {
                    "value": "light",
                    "label": "t:general.element.button.style_button.el_button_color.options__light"
                },
                {
                    "value": "dark",
                    "label": "t:general.element.button.style_button.el_button_color.options__dark"
                }
            ],
            "default": "primary"
        },
        {
            "type": "select",
            "id": "view_all_el_button_size",
            "label": "t:general.element.button.style_button.el_button_size.label",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.element.button.style_button.el_button_size.options__default"
                },
                {
                    "value": "sm",
                    "label": "t:general.element.button.style_button.el_button_size.options__sm"
                },
                {
                    "value": "lg",
                    "label": "t:general.element.button.style_button.el_button_size.options__lg"
                }
            ],
            "default": "default"
        },
        {
            "type": "header",
            "content": "t:general.sections.general_label"
        },
        {
            "type": "select",
            "id": "container",
            "label": "t:general.container.label",
            "default": "inherit",
            "options": [
                {
                    "value": "inherit",
                    "label": "t:general.container.options__inherit"
                },
                {
                    "value": "container",
                    "label": "t:general.container.options__container"
                },
                {
                    "value": "container-xl",
                    "label": "t:general.container.options__container_xl"
                },
                {
                    "value": "container-xxl",
                    "label": "t:general.container.options__container_xxl"
                },
                {
                    "value": "container-fluid",
                    "label": "t:general.container.options__container_fluid"
                },
                {
                    "value": "container-fluid-no-pd",
                    "label": "t:general.container.options__container_fluid_no_pd"
                }
            ]
        },
        {
            "type": "select",
            "id": "header_container",
            "label": "t:general.sections.container_header_label",
            "default": "inherit",
            "options": [
                {
                    "value": "inherit",
                    "label": "t:general.container.options__inherit"
                },
                {
                    "value": "container",
                    "label": "t:general.container.options__container"
                },
                {
                    "value": "container-xl",
                    "label": "t:general.container.options__container_xl"
                },
                {
                    "value": "container-xxl",
                    "label": "t:general.container.options__container_xxl"
                },
                {
                    "value": "container-fluid",
                    "label": "t:general.container.options__container_fluid"
                },
                {
                    "value": "container-fluid-no-pd",
                    "label": "t:general.container.options__container_fluid_no_pd"
                }
            ]
        },
        {
            "type": "color",
            "id": "section_bg_color",
            "label": "t:general.settings.background_group.bg_color.label"
        },
        {
            "type": "image_picker",
            "id": "section_bg_image",
            "label": "t:general.settings.background_group.bg_image.label"
        },
        {
            "type": "select",
            "id": "section_bg_position",
            "label": "t:general.settings.background_group.bg_position.label",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.settings.background_group.bg_position.options__default"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__center",
                    "value": "center center",
                    "label": "t:general.settings.background_group.bg_position.options__center_center"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__center",
                    "value": "center left",
                    "label": "t:general.settings.background_group.bg_position.options__center_left"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__center",
                    "value": "center right",
                    "label": "t:general.settings.background_group.bg_position.options__center_right"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__top",
                    "value": "top center",
                    "label": "t:general.settings.background_group.bg_position.options__top_center"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__top",
                    "value": "top left",
                    "label": "t:general.settings.background_group.bg_position.options__top_left"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__top",
                    "value": "top right",
                    "label": "t:general.settings.background_group.bg_position.options__top_right"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__bottom",
                    "value": "bottom center",
                    "label": "t:general.settings.background_group.bg_position.options__bottom_center"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__bottom",
                    "value": "bottom right",
                    "label": "t:general.settings.background_group.bg_position.options__bottom_right"
                },
                {
                    "group": "t:general.settings.background_group.bg_position.group__bottom",
                    "value": "bottom left",
                    "label": "t:general.settings.background_group.bg_position.options__bottom_left"
                }
            ],
            "default": "default"
        },
        {
            "type": "select",
            "id": "section_bg_size",
            "label": "t:general.settings.background_group.bg_size.label",
            "options": [
                {
                    "value": "default",
                    "label": "t:general.settings.background_group.bg_size.options__default"
                },
                {
                    "value": "auto",
                    "label": "t:general.settings.background_group.bg_size.options__auto"
                },
                {
                    "value": "cover",
                    "label": "t:general.settings.background_group.bg_size.options__cover"
                },
                {
                    "value": "contain",
                    "label": "t:general.settings.background_group.bg_size.options__contain"
                }
            ],
            "default": "default"
        },
        {
            "type": "header",
            "content": "t:general.sections.header_layout.header__header_inline"
        },
        {
            "type": "checkbox",
            "id": "header_inline",
            "label": "t:general.sections.header_layout.header_inline.label"
        },
        {
            "type": "select",
            "id": "header_inline_align",
            "label": "t:general.sections.header_layout.header_inline_align.label",
            "default": "top",
            "options": [
                {
                    "value": "top",
                    "label": "t:general.sections.header_layout.header_inline_align.options__top"
                },
                {
                    "value": "center",
                    "label": "t:general.sections.header_layout.header_inline_align.options__center"
                },
                {
                    "value": "end",
                    "label": "t:general.sections.header_layout.header_inline_align.options__end"
                },
                {
                    "value": "top-end",
                    "label": "t:general.sections.header_layout.header_inline_align.options__top_end"
                }
            ]
        },
        {
            "type": "range",
            "id": "header_width",
            "label": "t:general.sections.header_layout.header_width.label",
            "min": -1,
            "max": 99,
            "step": 1,
            "default": -1,
            "info": "t:general.sections.header_layout.header_width.info"
        },
        {
            "type": "header",
            "content": "t:general.sections.header_style.header__header_color"
        },
        {
            "type": "color",
            "id": "el_heading_title_color",
            "label": "t:general.element.heading.style_heading.el_heading_title_color.label"
        },
        {
            "type": "color",
            "id": "el_heading_sub_title_color",
            "label": "t:general.element.heading.style_heading.el_heading_sub_title_color.label"
        },
        {
            "type": "color",
            "id": "el_heading_desc_color",
            "label": "t:general.element.heading.style_heading.el_heading_desc_color.label"
        },
        {
            "type": "header",
            "content": "t:general.sections.header_style.header__header_size"
        },
        {
            "type": "paragraph",
            "content": "t:general.element.heading.style_heading.paragraph__5"
        },
        {
            "type": "number",
            "id": "el_heading_fs_title",
            "label": "t:general.element.heading.style_heading.el_heading_fs_title.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "el_heading_fs_sub_title",
            "label": "t:general.element.heading.style_heading.el_heading_fs_sub_title.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "el_heading_fs_desc",
            "label": "t:general.element.heading.style_heading.el_heading_fs_desc.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "el_heading_mw",
            "label": "t:general.element.heading.style_heading.el_heading_mw.label",
            "default": -1
        },
        {
            "type": "header",
            "content": "t:general.sections.header_style.header__header_spacing"
        },
        {
            "type": "paragraph",
            "content": "t:general.element.heading.style_heading.paragraph__10"
        },
        {
            "type": "number",
            "id": "el_heading_sp_sub_title",
            "label": "t:general.element.heading.style_heading.el_heading_sp_sub_title.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "el_heading_sp_sub_image",
            "label": "t:general.element.heading.style_heading.el_heading_sp_sub_image.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "el_heading_sp_desc",
            "label": "t:general.element.heading.style_heading.el_heading_sp_desc.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "header_margin_bottom",
            "label": "t:general.sections.header_style.header_margin_bottom.label",
            "default": -1
        },
        {
            "type": "header",
            "content": "t:general.sections.spacing.header__section_spacing"
        },
        {
            "type": "paragraph",
            "content": "t:general.sections.spacing.paragraph__5"
        },
        {
            "type": "number",
            "id": "padding_top",
            "label": "t:general.sections.spacing.padding_top.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_bottom",
            "label": "t:general.sections.spacing.padding_bottom.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_top_mobile",
            "label": "t:general.sections.spacing.padding_top_mobile.label",
            "default": -1
        },
        {
            "type": "number",
            "id": "padding_bottom_mobile",
            "label": "t:general.sections.spacing.padding_bottom_mobile.label",
            "default": -1
        },
        {
            "type": "header",
            "content": "t:sections.product_tab.settings.header__extended_css_class"
        },
        {
            "type": "text",
            "id": "extended_css_item",
            "label": "t:sections.product_tab.settings.extended_css_item.label"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "t:sections.product_tab.settings.custom_class.label"
        },
        {
            "type": "header",
            "content": "t:general.sections.animations_header_label"
        },
        {
            "type": "select",
            "id": "animation_type",
            "label": "t:general.animation_type.label",
            "default": "inherit",
            "options": [
                {
                    "value": "inherit",
                    "label": "t:general.animation_type.options__inherit"
                },
                {
                    "value": "none",
                    "label": "t:general.animation_type.options__none"
                },
                {
                    "value": "fadeIn",
                    "label": "t:general.animation_type.options__fadeIn"
                },
                {
                    "value": "fadeInUp",
                    "label": "t:general.animation_type.options__fadeInUp"
                },
                {
                    "value": "fadeInDown",
                    "label": "t:general.animation_type.options__fadeInDown"
                },
                {
                    "value": "fadeInLeft",
                    "label": "t:general.animation_type.options__fadeInLeft"
                },
                {
                    "value": "fadeInRight",
                    "label": "t:general.animation_type.options__fadeInRight"
                },
                {
                    "value": "flipInX",
                    "label": "t:general.animation_type.options__flipInX"
                },
                {
                    "value": "flip",
                    "label": "t:general.animation_type.options__flip"
                },
                {
                    "value": "zoomOut",
                    "label": "t:general.animation_type.options__zoomOut"
                },
                {
                    "value": "zoomIn",
                    "label": "t:general.animation_type.options__zoomIn"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type": "tab",
            "name": "t:sections.product_tab.block.tab.name",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "t:sections.product_tab.block.tab.settings.collection.label"
                },
                {
                    "type": "text",
                    "id": "custom_title",
                    "label": "t:sections.product_tab.block.tab.settings.custom_title.label",
                    "info": "t:sections.product_tab.block.tab.settings.custom_title.info"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.product_tab.name",
            "settings": {
                "slider_show_pagination": true
            },
            "blocks": [
                {
                    "type": "tab",
                    "settings": {
                        "custom_title": "Best Sellers"
                    }
                },
                {
                    "type": "tab",
                    "settings": {
                        "custom_title": "New Arrivals"
                    }
                },
                {
                    "type": "tab",
                    "settings": {
                        "custom_title": "Sale"
                    }
                }
            ]
        }
    ]
}
{% endschema %}