{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
	<script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="{{ settings.color_background }}">
	<link rel="canonical" href="{{ canonical_url }}">
	<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
	<style>
		.gift-card {
			padding-bottom: 34px
		}

		.gift-card__title {
			text-align: center;
			word-break: break-word;
			padding: 40px 0 26px
		}

		@media only screen and (min-width: 990px) {
			.gift-card__title {
				padding: 60px 0 26px
			}
		}

		.gift-card__image-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			background-color: #fff;
			margin: 0 auto 8px;
		}

		@media only screen and (min-width: 750px) {
			.gift-card__image-wrapper {
				margin-bottom: 0;
				width: 40rem
			}
		}

		.gift-card__image {
			max-width: 100%;
			padding: 0 2rem;
			height: auto
		}

		@media only screen and (min-width: 750px) {
			.gift-card__image {
				padding: 0
			}
		}

		.gift-card__heading {
			margin: 25px 0 10px
		}

		.gift-card__price {
			font-size: 16px;
			letter-spacing: 1px;
		}

		.gift-card__price > p:first-child {
			margin-bottom: 10px
		}

		@media only screen and (min-width: 750px) {
			.gift-card__price {
				font-size: 20px
			}
		}

		.gift-card__label:not(.badge) {
			font-weight: 400;
			opacity: .7
		}

		.gift-card__number {
			background-color: rgba(0, 0, 0, 0);
			border: none !important;
			font-size: 18px;
			font-weight: 400;
			line-height: 1.6;
			text-align: center;
			width: 100%;
			margin-bottom: 10px
		}

		@media only screen and (min-width: 750px) {
			.gift-card__number {
				font-size: 18px
			}
		}

		.gift-card__text {
			margin-bottom: 40px;
			opacity: .7
		}

		.gift-card__information {
			text-align: center;
			margin-top: 30px
		}

		.gift-card__label {
			font-size: 13px;
			letter-spacing: .05px;
			font-weight: 500;
			display: inline;
			margin-left: 10px
		}

		.caption-large {
			font-size: 13px;
			line-height: 1.5;
			letter-spacing: .04rem
		}

		.gift-card__copy-code {
			margin-bottom: 2.2rem
		}

		.gift-card__qr-code {
			margin-top: 30px
		}

		@media only screen and (min-width: 750px) {
			.gift-card__qr-code {
				margin-top: 50px
			}
		}

		.gift-card__qr-code img {
			margin: 0 auto
		}

		.gift_card__apple-wallet {
			line-height: 0;
			display: block;
			margin-bottom: 50px
		}

		.gift-card__buttons {
			display: flex;
			flex-direction: column;
			max-width: 250px;
			flex-wrap: wrap;
			margin: 0 auto
		}

		.gift-card__buttons > a {
			margin-bottom: 20px
		}

		.gift-card__buttons > .btn:first-child {
			display: block;
			margin-bottom: 1rem
		}

		.form__message svg {
			margin-right: 3px;
		}

		@media print {
			.no-print {
				display: none
			}
		}

	</style>
	{%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}
	<title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>
	{% if page_description %}
		<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{%- if settings.favicon != blank -%}
		<link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
	{% else %}
		<link rel="shortcut icon" type="image/png" href="{{ "favicon.ico" | asset_url }}">
	{%- endif -%}

	{% render 'css-vendors' %}
	{{ 'theme.css' | asset_url | stylesheet_tag }}
	{% render 'stylesheet' %}

	{{ content_for_header }}

</head>

<body class="container">
<header class="gift-card__title">
	<span class="h2">{{ shop.name }}</span>
	<h1 class="gift-card__heading">{{ 'gift_cards.issued.subtext' | t }}</h1>
	<div class="gift-card__price text-heading d-flex justify-content-center align-items-center ">
		<p>
			{% if settings.currency_code_enabled %}
				{{ gift_card.initial_value | money_with_currency }}
			{% else %}
				{{ gift_card.initial_value | money }}
			{% endif %}
		</p>
		{%- if gift_card.enabled == false or gift_card.expired -%}
			<p class="gift-card__label badge text-bg-warning">{{ 'gift_cards.issued.expired' | t }}</p>
		{%- endif -%}
	</div>

	{% if settings.currency_code_enabled %}
		{%- assign gift_card_balance = gift_card.balance | money_with_currency -%}
	{% else %}
		{%- assign gift_card_balance = gift_card.balance | money -%}
	{% endif %}
	{%- if gift_card.balance != gift_card.initial_value -%}
		<p class="gift-card__label caption-large">{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card_balance }}</p>
	{%- endif -%}
</header>

<main class="gift-card">
	<div class="gift-card__image-wrapper">
		<img src="{{ 'gift-card/card.svg' | shopify_asset_url }}" alt="" class="gift-card__image"
			 height="{{ 570 | divided_by: 1.5 }}" width="570" loading="lazy">
	</div>
	<div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
	<div class="gift-card__information">
		<input
			type="text"
			class="gift-card__number"
			value="{{ gift_card.code | format_code }}"
			aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
			readonly
		>
		<div class="gift-card__copy-code">
			<button class="btn btn-link gift-card__copy-link">{{ 'gift_cards.issued.copy_code' | t }}</button>
			<span class="gift-card__copy-success form__message d-flex justify-content-center align-items-top-end mt-3" role="status"></span>
			<template>
				<div class="alert alert-success mb-0 p-2" role="alert">
					{% render 'icons', icon: 'circle-check-sharp-solid' %}
					{{ 'gift_cards.issued.copy_code_success' | t }}
				</div>
			</template>
		</div>
		{%- if gift_card.pass_url -%}
			<a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet"
			   aria-label="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
				<img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40"
					 alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}" loading="lazy">
			</a>
		{%- endif -%}
		<div class="gift-card__buttons no-print">
			<a href="{{ shop.url }}" class="btn btn-primary" target="_blank" rel="noopener"
			   aria-describedby="a11y-new-window-message">
				{{ 'gift_cards.issued.shop_link' | t }}
			</a>
			<button class="btn btn-secondary" onclick="window.print();">
				{{ 'gift_cards.issued.print_gift_card' | t }}
			</button>
		</div>
	</div>
</main>

<div hidden>
	<span id="a11y-new-window-message">{{ 'general.accessibility.link_messages.new_window' | t }}</span>
</div>
</body>
</html>

<script>
	var string = {qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
	document.addEventListener('DOMContentLoaded', function () {
		new QRCode(document.querySelector('.gift-card__qr-code'), {
			text: document.querySelector('.gift-card__qr-code').dataset.identifier,
			width: 120,
			height: 120,
			imageAltText: string.qrImageAlt
		});
	});

	var template = document.getElementsByTagName("template")[0];
	var clonedTemplate = template.content.cloneNode(true);

	var isMessageDisplayed = false
	document
		.querySelector('.gift-card__copy-link')
		.addEventListener('click', () => {
			navigator.clipboard.writeText(document.querySelector('.gift-card__number').value).then(function () {
				if (!isMessageDisplayed) {
					document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
					isMessageDisplayed = true
				}
			});
		});
</script>
